# author: charlestang@foxmail.com

[mysql]
# 这是一个以前不知的配置，原来MySQL客户端里面也可以配置 Prompt
prompt = [\\u@\\h][\\d]>\\_

[mysqld]
# basic settings #
user = mysql
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"
autocommit = 1
# 使用 utf8mb4 而不是使用 utf8 听说 utf8mb4 支持 emoji
character_set_server=utf8mb4
# 我记得以前看书说，默认的隔离级别是 REPEATABLE READ 为什么这里要改变？
# 不太懂，不过貌似不是太要紧的，先不改
transaction_isolation = READ-COMMITTED
# 这个配置说的是 Timestamp 的一个行为，如果不加这个配置的话，启动时候会看到：
# TIMESTAMP with implicit DEFAULT value is deprecated. Please use --explicit_defaults_for_timestamp server option (see documentation for more details).
# 但是，文档里又说，这个配置项自己本身就是 Deprecated，好吧贵圈真乱
explicit_defaults_for_timestamp = 1
# 文档上说，如果你使用到了 BLOB 字段的话，这个值应该大于 BLOB 字段的容量，就是单次传输包的大小，这个值默认是 4M，这里改成了 16M
max_allowed_packet = 16777216
event_scheduler = 1

# connection #
# 客户端连接的超时时长，缺省是 28800 = 8小时
interactive_timeout = 1800
wait_timeout = 1800
lock_wait_timeout = 1800
skip_name_resolve = 1
# 最大能够连接的客户端数量
max_connections = 512
# 如果一个成功的连接，超过这个数量的错误，会被ban掉，只能通过 FLUSH HOSTS 指令来解封，如果有连接池的话，
# 估计设置大一点比较好，缺省是100
max_connect_errors = 100

# table cache performance settings
# 所有线程能够打开的表的数量，缺省值是2000
table_open_cache = 4096
# 存储表定义的缓存
table_definition_cache = 4096
# 表缓存的实例数，在16核CPU上，建议开到 8 到 16，但是看建议的这个
# 数字，应该是DBA有实际的经验在里面，但是一个2核2G的肯定不能开这么高
# 我调到 16，缺省值
table_open_cache_instances = 16

# session memory settings #
# 每个线程做序列化扫描时，MyISAM 表能使用的缓存大小
# 缺省值是 128K
read_buffer_size = 16M
read_rnd_buffer_size = 32M
sort_buffer_size = 32M
tmp_table_size = 64M
join_buffer_size = 128M
thread_cache_size = 64

# log settings #
log_error = /var/log/mysqld.log
slow_query_log = 1
slow_query_log_file = /var/log/mysqld-slow.log
log_queries_not_using_indexes = 1
log_slow_admin_statements = 1
log_slow_slave_statements = 1
log_throttle_queries_not_using_indexes = 10
expire_logs_days = 90
long_query_time = 2
min_examined_row_limit = 100
binlog-rows-query-log-events = 1
log-bin-trust-function-creators = 1
expire-logs-days = 90
log-slave-updates = 1

# innodb settings #
# 数据库表空间中的页尺寸，文档缺省值就是16K
innodb_page_size = 16384
# InnoDB 缓冲表和索引的缓冲池大小，缺省128M，这个值调大，可以减少磁盘IO
# 如果这个值大于1G，则_pool_instance 应该大于1，甚至可以设置到机器80%的物理
# 内存，但是过大的话，物理内存竞争页会导致换页的损失
# 我在这里设置1G，相当于机器50%的内存，相应的pool_instance 设置为1
innodb_buffer_pool_size = 1G
innodb_buffer_pool_instances = 1
# 缓冲预热是否开启
innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_dump_at_shutdown = 1
# 每台看懂的一个东西，缺省1024，我先调回去
innodb_lru_scan_depth = 1024
innodb_lock_wait_timeout = 5
innodb_io_capacity = 10000
innodb_io_capacity_max = 20000
innodb_flush_method = O_DIRECT
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_undo_logs = 128
# 也是每台看懂有什么用，缺省值是0，我先调0了
innodb_undo_tablespaces = 0
innodb_flush_neighbors = 0
# 调回缺省值 50M 左右，文件调为1个
innodb_log_file_size = 50331648
innodb_log_files_in_group = 1
# 写log使用的缓冲区，如果足够大，执行事务的时候，不需要磁盘io
# 这里设置了16M
innodb_log_buffer_size = 16777216
innodb_purge_threads = 4
innodb_large_prefix = 1
innodb_thread_concurrency = 64
innodb_print_all_deadlocks = 1
innodb_strict_mode = 1
# 创建索引时候排序数据用的缓冲区大小，缺省 1M，这里大概是64M
innodb_sort_buffer_size = 67108864
# 缺省是4，32个CPU，建议值才16，我只有2核，调回缺省
innodb_write_io_threads = 4
innodb_read_io_threads = 4 
innodb_file_per_table = 1
innodb_stats_persistent_sample_pages = 64
innodb_autoinc_lock_mode = 2
innodb_online_alter_log_max_size=1G
innodb_open_files=4096

# replication settings #
master_info_repository = TABLE
relay_log_info_repository = TABLE
sync_binlog = 1
gtid_mode = on
enforce_gtid_consistency = 1
log_slave_updates
binlog_format = ROW
binlog_rows_query_log_events = 1
relay_log = relay.log
relay_log_recovery = 1
slave_skip_errors = ddl_exist_errors
slave-rows-search-algorithms = 'INDEX_SCAN,HASH_SCAN'

# semi sync replication settings #
plugin_load = "validate_password.so;rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so"
rpl_semi_sync_master_enabled = 1
rpl_semi_sync_master_timeout = 3000
rpl_semi_sync_slave_enabled = 1

# password plugin #
validate_password_policy=STRONG
validate-password=FORCE_PLUS_PERMANENT

# [mysqld-5.6]
# metalock performance settings
# metadata_locks_hash_instances=64

[mysqld-5.7]
# new innodb settings #
loose_innodb_numa_interleave=1
innodb_buffer_pool_dump_pct = 40
innodb_page_cleaners = 16
innodb_undo_log_truncate = 1
innodb_max_undo_log_size = 2G
innodb_purge_rseg_truncate_frequency = 128
# new replication settings #
# slave-parallel-type = LOGICAL_CLOCK
# slave-parallel-workers = 16
# slave_preserve_commit_order=1
# slave_transaction_retries=128
# other change settings #
binlog_gtid_simple_recovery=1
log_timestamps=system
show_compatibility_56=on

